<html>
	<body>
	<div class="container">
	<div class="panel panel-default">
	<div class="panel-body">

<table>
			<tr>
				<td>
					<h1>Most Relevants - <a class="btn btn-primary"  href="/">Home</a> </h1>
				</td>
			</tr>
		</table>
		<table class="table">
		<thead>
			<tr>
				<td>
					Screen Name
				</td>
				<td>
					 Followers Count
				</td>
				<td>
					Retweets
				</td>
				<td>
					Likes
				</td>
				<td>
					Tweet Content
				</td>
				<td>
					Created
				</td>
			</tr>
			</thead>
		
			<% @most_relevants.each do |t| %>
			
				<tr>
					<td>
					
					   <a href='https://twitter.com/<%= t['user']['profile']['screen_name'] %>'> @<%= t['user']['profile']['screen_name'] %></a>

					</td>
					<td>
						<%= t['user']['info']['followers_count'] %>
					</td>
					<td>
						<%= t['user']['profile']['retweet_count'] %>
					</td>
					<td>
						<%= t['tweet']['favorite_count'] %>
					</td>
					<td>
					<%= t['tweet']['content'] %>   
					</td>
					<td>
						<%= DateTime.parse(t['tweet']['date']).strftime("%d/%m/%Y %H:%M:%S")%>
					</td>
				</tr>
			
			<% end -%>
		</table>
	
	</div>
	</div>
	
	
	</div>
		
	</body>
</html>